#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
_deps
CPackConfig.cmake
CPackSourceConfig.cmake
#Doxygen
Doxyfile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
man/
html/
#
*.a
*.lib
*.so
*.dll
